<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>存包</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="../iconfont/iconfont.css">
<style type="text/css">
</style>
</head>
<body>
	<div class="page-group">
		<div class="page page-current">
			<!-- <header class="bar bar-nav" style="background-color: #fff">
				<a class="icon icon-left pull-left back" style="font-size: 0.9rem;"><span style="font-size: 0.75rem;">返 回</span></a>
				<a class="icon pull-right" style="font-size: 0.75rem;"><i class="iconfont" style="vertical-align: top;">&#xe61b;</i>账单明细</a>
			</header> -->
			<div class="content">
				<div class="card" style="margin: 0.5rem 0 0 0;">
					<div class="card-content" style="background-color: #FFC600;">
						<div class="card-header" style="position: initial;height: 3rem;display: -webkit-flex;-webkit-justify-content: center; -webkit-align-items: center;">
							<span style="font-size: 0.8rem">钱包余额</span>
						</div>
						<div class="card-header" style="position: initial;height: 2rem;display: -webkit-flex;-webkit-justify-content: center; -webkit-align-items: center;">
							<span style="font-size: 1.5rem;font-family:Microsoft YaHei;font-weight: 900">￥30.00</span>
						</div>
						<div class="card-content" style="position: initial;height: 2rem;display: -webkit-flex;-webkit-justify-content: center; -webkit-align-items: center;" >
							<span style="font-size: 0.6rem;color: white;">满十元可提现</span>
						</div>
					</div>
				</div>
				<div class="list-block" style="margin: 0.5rem 0;">
				    <ul>
				      <li class="item-content item-link" onclick="recharge();">
				        <div class="item-media"><i class="icon icon-f7"></i></div>
				        <div class="item-inner" style="margin-left: 0rem;">
				          <div  class="item-title" style="font-size: 0.75rem"><i class="iconfont" style="vertical-align: top;color: #FFC600;">&#xe665;</i> 充值</div>
				        </div>
				      </li>
				      <li class="item-content item-link" onclick="refund();">
				        <div class="item-media"><i class="icon icon-f7"></i></div>
				        <div class="item-inner" style="margin-left: 0rem;">
				          <div  class="item-title" style="font-size: 0.75rem"><i class="iconfont" style="vertical-align: top;color: #FFC600;">&#xe61c;</i> 退款</div>
				        </div>
				      </li>
				      <li class="item-content item-link" onclick="withdrawal();">
				        <div class="item-media"><i class="icon icon-f7"></i></div>
				        <div class="item-inner" style="margin-left: 0rem;">
				          <div class="item-title" style="font-size: 0.75rem"><i class="iconfont" style="vertical-align: top;color: #FFC600;">&#xe7e4;</i> 提现</div>
				        </div>
				      </li>
				      <li class="item-content item-link" onclick="bill();">
				        <div class="item-media"><i class="icon icon-f7"></i></div>
				        <div class="item-inner" style="margin-left: 0rem;">
				          <div class="item-title" style="font-size: 0.75rem"><i class="iconfont" style="vertical-align: top;color: #FFC600;">&#xe61b;</i> 账单明细</div>
				        </div>
				      </li>
				    </ul>
				  </div>
			</div>
		</div>
	</div>

	<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
	<script type="text/javascript">
	$.init();
	function recharge(){
		window.location.href = "/locker_wx/wallet/rechargePage?info=1234"
	}
	function refund(){
		window.location.href = "/locker_wx/wallet/refundPage?info=1234"
	}
	function withdrawal(){
		window.location.href = "/locker_wx/wallet/withdrawalPage?info=1234"
	}
	function bill(){
		window.location.href = "/locker_wx/wallet/billPage?info=1234"
	}
	</script>
</body>
</html>