<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="user-scalable=no" />
<meta name="author" content="dengtongzi" />
<title>九宫格抽奖转盘</title>
<style type="text/css">
.container{
	width:100%;
	height:auto;
	line-height: 100%;
	text-align: center;
}
#lottery{
	width:90%;
	height:50rem;
	margin:auto;
}
#lottery table td{
	text-align:center;
	vertical-align:middle;
	font-size:24px;
	color:#333;
	font-index:-999;
	
}
#lottery table td.active{
	background-color:#fff333;
	border-radius: 10px;
}

#start {
	color:white;
	background:orange;
	border-radius: 10px;
	height:13.8rem;
	line-height: 13.8rem;
	margin: auto;
	/*margin: 10% 10% 10% 10%;*/
	text-align: center;
	display: block;
	text-decoration: none;
	border-radius: 28px;
}
#con_prize{
	display: none;
	margin-top: 10px;
}
#pname{
	color:red;
	margin-left: 5px;
	margin-right: 10px;
	font-size: 20px;
}
.prize{
	/* background:#000 ; */
	/* opacity: 0.8; */
	border-radius: 5px;
	margin: auto;
	line-height: 6rem;
	text-shadow: 1px 1px 2px;
	height: 14rem;
	width: 15.3rem;
	box-shadow: 0px 0px 20px 0px #E91E63;
}
.on{
	opacity: 1;
	color:#fff;
	background: #ffeb3b;
	border-radius: 35px;
	height: 14rem;
	width: 15.3rem;
}
img{
	width: 100%;
	height: 100%;	
	border-radius: 28px;
	
}
</style>
</head>
<body>
<div class="container" >
	<div id="lottery" style="background-image: url('../common/image/choujiang.png');background-size: 100% 100%;display: -webkit-box;">
	    <table border="0" cellpadding="0" cellspacing="0" style="width: 85%;height: 42rem;margin-top: 3.5rem" align="center">
	       <tr>
	            <td class="lottery-unit lottery-unit-0"><div class="prize prize-0"><img src="../common/image/hua20.png" alt="" /></div></td>
	            <td class="lottery-unit lottery-unit-1"><div class="prize prize-1"><img src="../common/image/quan20.png" alt="" /></div></td>
	            <td class="lottery-unit lottery-unit-2"><div class="prize prize-2"><img src="../common/image/hua30.png" alt="" /></div></td>
	        </tr>
	        <tr>
	            <td class="lottery-unit lottery-unit-7"><div class="prize prize-7"><img src="../common/image/hua50.png" alt="" /></div></td>
	            <td ><a href="#" class = "lottery-unit" id="start"><img src="../common/image/start.jpg" alt="" /></a></td>
	            <td class="lottery-unit lottery-unit-3"><div class="prize prize-3"><img src="../common/image/quan50.png" alt="" /></div></td>
	        </tr>
	        <tr>
	            <td class="lottery-unit lottery-unit-6"><div class="prize prize-6"><img src="../common/image/quan30.png" alt="" /></div></td>
	            <td class="lottery-unit lottery-unit-5"><div class="prize prize-5"><img src="../common/image/5.png" alt="" /></div></td>
	            <td class="lottery-unit lottery-unit-4"><div class="prize prize-4"><img src="../common/image/quan100.png" alt="" /></div></td>
	        </tr>
	    </table>
	</div>
	<div id="con_prize" data-pname="长宜太盛100元优惠券" data-pid="1">恭喜您获得奖品：<span id="pname"></span><button onclick="getPrize()">领取奖品</button></div>
</div>

<script type="text/javascript" src="../common/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript">


        var lottery={
                index:-1,    //当前转动到哪个位置，起点位置
                count:8,    //总共有多少个奖品位置，9宫格就是8个奖品位置
                timer:0,    //setTimeout的ID，用clearTimeout清除
                speed:10,    //初始转动速度
                times:0,    //转动次数
                cycle:50,    //转动基本次数：即至少需要转动多少次再进入抽奖环节
                prize:0,    //默认中奖位置，放默认奖品
                init:function(id){
                        if ($("#"+id).find(".lottery-unit").length>0) {
                                $lottery = $("#"+id);
                                $units = $lottery.find(".lottery-unit");
                                this.obj = $lottery;
                                this.count = $units.length;
                                $lottery.find(".prize-"+this.index).addClass("on");
                        };
                },
                roll:function(){
                        var index = this.index;
                        var count = this.count;
                        var lottery = this.obj;
                        $(lottery).find(".prize-"+index).removeClass("on");
                        index += 1;
                        if (index>count-1) {
                            index = 0;
                        };
                        $(lottery).find(".prize-"+index).addClass("on");
                        this.index=index;
                        return false;
                    },
              	stop:function(index){
                        this.prize=index;
                        return false;
                    }
        };

        //存储奖品信息
        var prize_data = {
        	pname:'默认奖品',    //奖品名称
            pnum:0,    //中奖位置 默认0，重要，转盘据此来定位获奖商品
            pid:1,    //奖品id 默认1
        };

        
        function roll(){
            lottery.times += 1;
            lottery.roll();
            
            if (lottery.times > lottery.cycle+10 && lottery.prize==lottery.index) {
                clearTimeout(lottery.timer);
                lottery.times=0;
                click=false;
                //显示中奖信息
                showDetail();
            }else{
            	//速度控制
                if (lottery.times<lottery.cycle) {
                    lottery.speed -= 10;
                }else if(lottery.times==lottery.cycle) {
                    index = lottery.prize;     
                }else{
                    if (lottery.times > lottery.cycle+10 && ((lottery.prize==0 && lottery.index==7) || lottery.prize==lottery.index+1)) {
                        lottery.speed += 110;
                    }else{
                        lottery.speed += 20;
                    }
                }
                if (lottery.speed<40) {
                    lottery.speed=40;
                };
                //延时递归调用
                lottery.timer = setTimeout(roll,lottery.speed);
                
            }
            
            return false;
        }
        /*
		 * 获取中奖位置
		 * @param {string} name 用户昵称（必须）
		 * @param {string} avatar 微信头像网址（必须）
		 * @param {string} openid 微信openid（必须，用于验证唯一性，一个用户只能抽奖一次）
		 * @return {bool} 
		 */
		function doRoll(url,name,avatar,openid){
			/* $.ajax({ url: url, data:{name:name,avatar:avatar,openid:openid}, async:false,dataType:'json',success: function(rst){
				lottery.speed=100;
		        var data = rst.data;
		        
		        lottery.prize = data.pnum;
		        prize_data = {
                		pname:data.pname,
                		pnum:data.pnum,
                		pid:data.pid
                	};
                roll();
                click=true;
                return false;

	      	}}); */
			
			lottery.speed=100;
	        var data;
	        
	        lottery.prize = 1;
	        prize_data = {
            		pname:'安慰奖',
            		pnum:1,
            		pid:1
            	};
            roll();
            click=true;
            return false;
		}

        //领奖(跳转收货地址页面，或者弹出收货地址页面)
        function getPrize(){
        	alert("请填写收货地址");
        }
        //清空中奖信息
        function clearDetail(){
        	$("#con_prize").hide();
            $("#pname").html("");
        }
        //显示中奖信息
        function showDetail(){
        	$("#con_prize").show();
            $("#pname").html(prize_data.pname);
        }

        var click=false;
        init();
        function init(){
        	var url = 'http://test.com/api/Shop/ex/';//这里改成实际后台抽奖接口
            lottery.init('lottery');
            $("#start").click(function(){
                if (click) {
                    return false;
                }else{
                	clearDetail();
                	doRoll(url,"name","avatar","openid");
                }
            });
        }

</script>
</body>
</html>